@model bool
@{
    ViewData["Title"] = "Shopping Cart";
}

@if(!Model)
{
    <h1>Shopping Cart</h1>
    <p>Your shopping cart is empty.</p>
}
else
{
    <h1>Shopping Cart</h1>
    <p>You have items in your shopping cart.</p>
}